# Ignore root files
_*

# Except for _vimrc
!_vimrc

# Ignore vim program directory
/vim73

# Ignore undo files
/vimfiles/undo

# Ignore unused bundles
/vimfiles/bundle-unused

# Also ignor bundles!
/vimfiles/bundle
